.score-card {
    height: 120px;
    border-top: 2px solid #f5f5f5;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-card:hover {
    background-color: #f5f5f5;
}

.score-card.selected {
    background-color: #f2f4f7;
}

.team-info {
    font-size: 17px;
    width: 48%;
}

.team-info.away {
    text-align: right;
}

.team-info.home {
    text-align: left;
}

.game-score {
    width: 14%;
    font-size: 18px;
    float: left;
    text-align: center;
    display: block;
    margin: 0;
}

.game-time {
    color: #acacac;
    font-size: 12px;
    font-weight: 1;
}

.icon-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.content-game-list {
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 11px 0px;
  max-height: none;
  width: 55%;
  transition: 0.5s;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .main-content-col.content-game-list:not(.open) .game-score {
        font-size: 14px;
        white-space: nowrap;
    }
}

@media (max-width: 820px) {
    .game-score {
        font-size: 14px;
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .game-list .icon-wrapper {
        margin: 0px 35%;
    }

    .game-score {
        width: 95px;
        font-size: 18px;
    }

    .game-time {
        font-size: 12px;
    }
}