.header-title {
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
}

.card-team-abbr {
    width: 50%;
    display: inline-block;
    font-weight: 500;
}

.card-team-abbr.home {
    text-align: left;
}

.card-team-abbr.away {
    text-align: right;
}