.scores-view {
    height: 100vh;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-style: solid;
    border-color: #f6f6f6;
    border-width: 0px 2px;
}

.main-content-row,
.main-content-col {
    max-height: 80vh;
}

.content-game-list {
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 11px 0px;
  max-height: none;
  width: 55%;
  transition: 0.5s;
}

.content-game-list.open {
  width: 100%;
}

.content-game-details {
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 11px 0px;
  max-height: none;
  width: 45%;
}

button.close-details {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 100%;
  background: url('../../config/resources/btn_close.svg') 7px 6.5px no-repeat #f5f5f5;
  border: none;
  padding: 14px;
}

.header-content-row {
  max-height: 10vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 11px 0px;
}

.ant-layout-header {
  background-color: white;
  color: #fff;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 11px 0px;
}

.ant-layout-header .ant-layout {
  height: 100%;
  background-color: white;
}

h1.main-title {
  padding: 15px 30px;
  margin: 0;
  display: inline-block;
  width: 50%;
  white-space: nowrap;
  font-size: 1.75em;
  color: rgba(0, 0, 0, 0.65);
  font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 820px) {
  .content-game-details {
    width: 100%;
  }

  .content-game-list { 
    width: 0%;
  }
}