.score-filter-menu {
    height: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 11px 0px;
    position: sticky;
    padding: 12px;
}

.score-filter-menu button {
    margin-right: 10px;
}