.date-nav {
    position: relative;
    float: left;
    width: 95%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 11px -11px;
    height: 10vh;
    height: calc(var(--vh, 1vh) * 10);
}

.date-nav ul {
    list-style: none;
    text-align: left;
    height: 80%;
    margin: 0;
    padding: 0;
}

.date-nav ul li {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #989898;
    height: 100%;
    width: 14%;
    white-space: nowrap;
}

.date-label {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 12.5px;
    margin: 0 5px;
    border-radius: 75px;
    position: relative;
    padding: 10px;
    top: 25%;
    transition: 0.5s;
    cursor: pointer;
}

.current-date {
    background: #00985f;
    color: white;
}

/* START - OVERWRITING ANTD CLASSES */
.date-btn {
    width: 5%!important;
    text-align: center;
}

.ant-calendar-picker-input.ant-input {
    height: 64px!important;
    width: 100%!important;
    border-radius: 0!important;
    border-color: white;
    display: none!important;
}

.anticon-calendar.ant-calendar-picker-icon {
    right: 60%!important;
    margin-top: 15%!important;
    cursor: pointer!important;
    font-size: 16px!important;
}

.anticon-calendar.ant-calendar-picker-icon svg {
    width: 1.25em!important;
    height: 1.25em!important;
}

.anticon-close-circle.ant-calendar-picker-clear {
    display: none!important;
}
/* END - OVERWRITING ANTD CLASSES */


/* RESPONSIVE */
@media (max-width: 820px) {
    .date-label {
        margin: 0 20%;
        transition: none;
    }

    .date-nav ul li {
        width: 33.33%;
    }

    .date-nav {
        width: 100%;
    }

    .date-btn {
        width: 5%!important;
        text-align: center;
    }
    
    /* START - OVERWRITING ANTD CLASSES */    
    .anticon-calendar.ant-calendar-picker-icon {
        right: 60%!important;
        margin-top: 15%!important;
        cursor: pointer!important;
        font-size: 16px!important;
    }
    
    .anticon-calendar.ant-calendar-picker-icon svg {
        width: 1.25em!important;
        height: 1.25em!important;
    }

    .ant-calendar-picker {
        position: absolute!important;
        right: 10px;
        top: 30%;
    }
    /* END - OVERWRITING ANTD CLASSES */
}

@media (max-width: 480px) {
    .date-label {
        margin: 0 5%;
    }
}