.date-nav {
    position: relative;
    float: left;
    width: 95%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 11px -11px;
    height: 10vh;
}

.date-nav ul {
    list-style: none;
    text-align: left;
    height: 100%;
    margin: 0;
    padding: 0;
}

.date-nav ul li {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #989898;
    height: 100%;
    width: 14%;
}

.date-label {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    border-radius: 75px;
    position: relative;
    padding: 10px;
    top: 25%;
    transition: 0.5s;
    cursor: pointer;
}

.current-date {
    background: #00985f;
    color: white;
}




/* START - OVERWRITING ANTD CLASSES */
.date-btn {
    width: 5%!important;
    text-align: center;
}

.ant-calendar-picker-input.ant-input {
    height: 64px!important;
    width: 100%!important;
    border-radius: 0!important;
    border-color: white;
    display: none!important;
}

.anticon-calendar.ant-calendar-picker-icon {
    right: 60%!important;
    margin-top: 25%!important;
    cursor: pointer!important;
    font-size: 16px!important;
}

.anticon-calendar.ant-calendar-picker-icon svg {
    width: 1.25em!important;
    height: 1.25em!important;
}

.anticon-close-circle.ant-calendar-picker-clear {
    display: none!important;
}
/* END - OVERWRITING ANTD CLASSES */